h1 {
    font-weight: bold;
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
    margin: 1%;
}



a {
    color: black;
    text-decoration: underline;
    text-decoration-color: gray;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    font-family: sans-serif; 
}

.mainnav > a {
    display: block;
    text-decoration: none;
}

.mainnav h1 span {
    display: inline-block;
    transform: scaleX(-1) translateX(-0.2rem);
    color: red;

}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kategori_knap {
    border: solid;
    border-color: green;
    padding: 3em;
    margin: 1em;
    text-decoration: none;
    color: black;
    background-color: rgb(123, 173, 123);
}

* {
    box-sizing: border-box;
}




@media (min-width: 800px) {
    .grid_1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

    .mainnav {
        display: flex;
        justify-content: space-between;
        margin: 0%;
        align-items: center;
    }
}